/* banner section */

.banner {
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    margin-top: 0px;
    height: 808px;
    background-repeat: no-repeat;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;

    padding-left: 860px;
    margin-top: 0;
    padding-top: 237px;
    color: #FFFFFF;
    font-family: ;

}

.banner-description {
    width: 494px;
    height: 50px;
    padding-left: 860px;
    margin-top: 24px;
    color: #FFFFFF;

}

button {
    margin-left: 860px;
    margin-top: 32px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-bottom: 150px;

}

/* first section */
.first-section {
    display: flex;
    gap: 50px;

}

.images {
    margin-top: 280px;
    padding-left: 100px;
    width: 569px;
    height: 723.3px;
}

.first-section-title {
    font-weight: 700;
    font-size: 40px;

    margin-top: 380px;
}

.first-section-description {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #444343;
}

ul {
    width: 349px;
    height: 162px;
    color: #444343;


}

/* plan section */
.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;

}

/* skill  */
.skill {
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    padding-right: 230px;
    text-align: center;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;


}

/* last section */
.last-section {
    background-image: url(../images/watch.png);
    border-radius: 8px;
    margin: 0 auto;
    width: 1140px;
    height: 300px;

    font-weight: 700;
    font-size: 40px;
}

.advice {
    padding-left: 64px;
    padding-top: 59px;
}

.contact-button {
    width: 160px;
    height: 64px;
    margin-left: 64px;
    background: #FFFFFF;
    border: 0;
    border-radius: 5px;

    margin-top: 15px;

}

/* footer */
footer {
    display: flex;
    background-color: #151414;
    margin-top: 140px;
    width: 1600px;
    height: 577px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    padding-top: 130px;

}

.future {
    padding-left: 100px;
    color: #FFFFFF;
    padding-right: 200px;
}

.future-description {
    width: 485px;
    height: 78px;
    padding-top: 16px;

}

.subscribe {
    padding-top: 230px;
     

}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.subscribe button {
    width: 170px;
    height: 64px;
    background-color: #005FAC;
   
}